.scrollup {
    color: #fff;
    position: fixed;
    right: 2.4rem;
    bottom: 3rem;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 400ms;
}

.scrollup-icon {
    font-size: 2rem;
    color: var(--container-color);
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

.show-scroll {
    bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .scrollup {
        right: 0.4rem;
        bottom: 4rem;
    }
}