.btn {
    background-color: var(--title-color-dark);
    color: var(--container-color);
    padding: 1rem 1.2rem;
    border-radius: 12px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn:hover {
    background-color: var(--title-color);
}

.btn:hover i {
    transform: translateX(6px);
    transition: 0.3s;
}

.btn i {
    font-size: 1.5rem;
}

@media screen and (max-width: 992px){
    .btn{
        width: 100%;
    }
}